HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Terraform ###
# Arquivos de estado e cache
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfstate.backup

# Terraform Providers
**/.terraform/providers/
**/.terraform.lock.hcl
terraform/lambda_zips/*.zip